*{
    list-style: none;
}
.tmdrmq{
    font-size: 2rem;
}
aside{
    background-color: black !important;
    padding-top: 4rem !important;
}
.fhf{
    margin-left: -30%;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
#mainNav .navbar-nav .nav-item .nav-link{
    font-family : "Gothic A1";
    font-weight: 700;
    font-size: 1.1rem;
}
#features{
    text-align: center;
}
#swiper1{
    width: 80%;
    padding: 8px;
}

.swiper-pagination-bullet{
    background-color: #86cbd9;
}
.swiper-button-prev, .swiper-button-next{
    color: #86cbd9;
    
}

.rhrh{
    margin-left: 0 !important;
    width: 100%;
}
.gametext{
    margin-top: 6rem;
    font-size: 3rem;
}
#mainNav{
    padding-bottom: 0;
    padding-top: 0; 
}
.masthead{
    margin-top: 4rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}